[submodule "uBlock"]
	path = uBlock
	url = https://github.com/NaphatrB/uBlock.git
	branch = they-live-llm
[submodule "publish-extension"]
	path = publish-extension
	url = https://github.com/gorhill/publish-extension.git
